#card{
	align-self: center;
	padding-left:400px;
	padding-right:100px;
	padding-top:45px;
	padding-bottom:34px;
}

#card-hor{
	width:25%;
	display: inline-block; 
	border: 1px inset darkcyan;
	margin-left: 100px;
}